*{
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(0, 0, 20), rgb(0, 23, 235));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#autor{
    padding: 25px;
}

#autor h1{
    font-size: 30px;
}

#autor a {
    color: white;
    text-decoration: none;
}
#autor h2{
    font-size: 20px;
}
.calculadora {
    display: inline-block;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.856);
    padding: 16px;
    border-radius: 15px;
}

.botao {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 6px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
}

.botao:hover {
    background-color: black;
}

#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    color: black;
    font-size: 25px;
    padding: 5px;
    text-align: right;
}